button {
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: normal;
  min-width: 155px;
  max-width: 214px;
  height: 48px;
  padding: 0 40px;
  flex-shrink: 0;
  border-radius: 40px;
  border-style: none;
  text-transform: uppercase;
  background-image: var(--button-gradient-color);
  transition: transform 0.5s ease, background-image 0.5s ease, color 0.5s ease;
}

.btn-primary {
  color: var(--button-text-color);
}

.btn-primary:hover {
  cursor: pointer;
  color: var(--text-color-white);
  background-image: var(--button-gradient-hover);
  transform: scale(1.2);
}

.btn-outline {
  border: 2px solid var(--text-color-white);
  background: transparent;
  color: var(--text-color-white);
}

.btn-outline:hover {
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  color: var(--text-color-black);
  background-color: var(--text-color-white);
  transform: scale(1.2);
}
