:root {
  /* Desktop */
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-big: 36px;
  --font-size-xlarge: 40px;
  --font-size-huge: 46px;
  --font-size-huge-number: 64px;

  /* Tablets or middle screens */

  --font-size-small-tablet: 10px;
}
