.top-footer-container {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  max-height: 185px;
  margin-bottom: 100px;
  position: relative;
}

.top-footer-container::after {
  content: '';
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: -80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/svg/hzLineSeparator.svg');
}

.top-footer-logo {
  height: 185px;
}

.top-footer-nav h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color-white);
  padding-bottom: 16px;
}

.top-footer-nav__wrapper {
  position: relative;
}

.top-footer-nav__wrapper::after {
  content: '';
  position: absolute;
  width: 6px;
  right: -140px;
  top: 0;
  height: 196px;
  background-image: url('../images/svg/footerVerticalStroke.svg');
}

.top-footer-nav__wrapper:last-child::after {
  display: none;
}

.top-footer-icons {
  margin-bottom: 20px;
}

.top-footer-icons img {
  margin-right: 20px;
  transition: transform 0.2s ease;
}

.top-footer-icons img:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.top-footer-last div {
  padding-bottom: 10px;
}

.bottom-footer-container {
  margin-top: 150px;
  margin-bottom: 50px;
}

.bottom-footer-container h4 {
  font-size: var(--font-size-normal);
  color: var(--text-color-white);
  text-align: center;
}
