.form {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: var(--form-background);
  box-shadow: 0px 4px 4px 0px var(--form-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title h2 {
  position: relative;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 10px;
}

.form__title h2::after {
  content: '';
  height: 1px;
  width: 100%;
  background-image: url('../images/svg/hzLineSeparator.svg');
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

.form__title h3 {
  text-transform: none;
  padding-top: 30px;
}

textarea {
  resize: none;
  font-family: inherit;
  background: transparent;
  width: 100%;
  border: 2px solid var(--text-color-white);
  border-radius: 40px;
  margin-bottom: 60px;
  padding-left: 40px;
  padding-top: 30px;
  font-size: var(--font-size-normal);
  color: var(--text-color-white);
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-form__wrap-inputs {
  display: flex;
}

.main-form__container-half {
  width: 50%;
  margin: 20px 5px;
}

.main-form__container-full {
  margin: 20px 5px;
  width: 100%;
}

.main-form__button {
  align-self: center;
}

::placeholder {
  font-size: var(--font-size-normal);
  color: var(--text-color-white);
}

.error-message {
  display: none;
  color: var(--error-message-color);
  font-size: var(--font-size-small);
  text-align: center;
}

/* Checkbox age validation */

.age-validation {
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.age-validation label {
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
}

.age-validation__checkbox {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}

/* Select country custom */

.custom-select-country select {
  width: 100%;
  height: 72px;
  padding-left: 40px;
  border: 2px solid var(--text-color-white);
  background: transparent;
  cursor: pointer;
  border-radius: 40px;
  font-family: inherit;
  font-size: var(--font-size-normal);
  color: var(--text-color-white);
}

.custom-select-country select option {
  color: black;
}

/* Radio buttons */

.radio-title {
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
  text-align: center;
  margin-bottom: 30px;
}

.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
  height: 72px;
}

.radio-buttons input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.radio-buttons__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Range */

.range-title {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-large);
  color: var(--text-color-white);
  margin-bottom: 30px;
}

.range-container {
  width: 100%;
}

.range-container input {
  width: inherit;
}

.range-labels {
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
