.form {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: var(--form-background);
  box-shadow: 0px 4px 4px 0px var(--form-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title h2 {
  position: relative;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 10px;
}

.form__title h2::after {
  content: '';
  height: 1px;
  width: 100%;
  background-image: url('../images/svg/hzLineSeparator.svg');
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

.form__title h3 {
  text-transform: none;
  padding-top: 30px;
}

textarea {
  resize: none;
  font-family: inherit;
  background: transparent;
  width: 100%;
  border: 2px solid var(--text-color-white);
  border-radius: 40px;
  padding-left: 40px;
  padding-top: 30px;
  font-size: var(--font-size-normal);
  color: var(--text-color-white);
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-form__wrap-inputs {
  display: flex;
}

.main-form__container-half {
  width: 50%;
  margin: 20px 5px;
}

.main-form__container-full {
  margin: 20px 5px;
  width: 100%;
}

.main-form__button {
  align-self: center;
  margin-top: 30px;
}

::placeholder {
  font-size: var(--font-size-normal);
  color: var(--text-color-white);
}

.error-message {
  display: inline-block;
  color: var(--error-message-color);
  font-size: var(--font-size-small);
  text-align: center;
  height: 10px;
}

/* Checkbox age validation */

.age-validation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.age-validation label {
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
  margin-left: 15px;
}

.age-validation__checkbox {
  width: 25px;
  height: 25px;

  display: inline-block;
  cursor: pointer;
}

/* Select country */

select {
  appearance: none;
}

.custom-select-country {
  position: relative;
}

.custom-select-country::after {
  content: '▼';
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  pointer-events: none;
  right: 40px;
  color: var(--text-color-white);
  font-size: var(--font-size-normal);
}

.custom-select-country select option {
  color: var(--text-color-black);
}

/* Radio buttons */

.radio-title {
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
  text-align: center;
  margin-bottom: 30px;
}

.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
  height: 72px;
}

.radio-buttons input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.radio-buttons__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Range */

.range-title {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-large);
  color: var(--text-color-white);
  margin-bottom: 30px;
}

.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-labels {
  font-size: var(--font-size-medium);
  color: var(--text-color-white);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.range-labels span {
  text-align: center;
  width: calc(2%);
}

#ratingRange {
  width: 100%;
}
