.introduction-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.introduction-title {
  padding-bottom: 42px;
}

.introduction-title h2 {
  text-transform: uppercase;
  color: var(--text-color-white);
  font-size: var(--font-size-big);
  font-weight: 700;
  padding-bottom: 20px;
}

.introduction-title h3 {
  text-transform: uppercase;
  color: var(--text-color-white);
  font-size: var(--font-size-big);
  font-weight: 300;
}

.long-arrow-flex {
  display: flex;
  align-items: center;
  height: 15px;
}

.long-arrow-flex img {
  margin-left: 30px;
}

.introduction-description {
  padding-bottom: 28px;
  max-width: 750px;
}

.introduction-description span {
  color: var(--text-color-white);
  font-size: var(--font-size-medium);
}

.boy {
  width: 546px;
  height: 500px;
  object-fit: cover;
  object-position: 80% 0%;
  flex-shrink: 0;
  border-radius: 250px 100px 250px 100px;
}

.about-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-description {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
}
