.content-container {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-container__left-item {
  width: 40%;
}

.content-container__right-item {
  width: 50%;
}

.long-arrow-flex {
  display: flex;
  align-items: center;
  height: 15px;
}

.long-arrow-flex img {
  margin-left: 30px;
}

.about__image {
  width: 50%;
}

.boy {
  width: 70%;
  height: 450px;
  background-color: var(--background-color);
  border-radius: 250px 100px 250px 100px;
}

.boy__image {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: 80% 0%;
  flex-shrink: 0;
  border-radius: 250px 100px 250px 100px;
  transition: object-position 0.5s ease, opacity 0.5s ease;
}
.boy__image:hover {
  object-position: 0% 5%;
  opacity: 0.5;
}

.about {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-curved-line {
  position: relative;
}

.about-curved-line::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: -130px;
  left: -140px;
  background-repeat: no-repeat;
  background-image: url('../images/svg/curvedLines/curvedLineIntroduction1.svg');
  background-size: 100% 100%;
  z-index: -1;
}

.about-curved-line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 120%;
  bottom: 30px;
  left: -200px;
  top: 150px;
  background-repeat: no-repeat;
  background-image: url('../images/svg/curvedLines/curvedLineIntroduction2.svg');
  background-size: 100% 100%;
  z-index: -1;
}

.about__description {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.features {
  display: flex;
  padding: 100px 0;
}

.features-curved-line {
  position: relative;
}

.features-curved-line::before {
  content: '';
  position: absolute;
  height: 130%;
  width: 100%;
  left: -170px;
  background-repeat: no-repeat;
  background-image: url('../images/svg/curvedLines/curvedLineFeatures.svg');
  background-size: 100% 100%;
  z-index: -1;
}

.features__item {
  display: flex;
  flex-direction: column;
  background: var(--features-item-background);
  align-items: center;
  margin: 0 10px;
  border-radius: 40px;
  padding: 40px;
}

.features__item img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  border: solid 12px var(--features-img-shadow);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.features__item img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.simulation-img {
  object-position: 0% 0%;
}

.features__item h4 {
  text-transform: uppercase;
  color: var(--text-color-white);
  font-size: var(--font-size-large);
  font-weight: 700;
  padding: 15px 0;
}

.features__item span {
  font-size: var(--font-size-small);
  color: var(--text-color-white);
  padding: 15px 0;
  line-height: 20px;
}

.h-line {
  width: 50%;
  height: 1px;
  background-color: var(--h-line-color);
}
