.main-header__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  border-radius: 90px;
  background: var(--main-header-gradient);
  box-shadow: 0px 4px 4px 0px var(--main-header-box-shadow);
}

.main-header__info h2 {
  color: var(--text-color-white);
  font-size: var(--font-size-large);
  font-weight: 700;
}

.main-header__info span {
  color: var(--text-color-white);
  font-family: inherit;
  font-size: var(--font-size-normal);
}

.main-header__info-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#stroke::after {
  content: '';
  width: 1px;
  height: 116.5px;
  background-color: rgba(192, 183, 232, 0.33);
  position: absolute;
  left: -100px;
}

.main-header__call {
  margin-left: 29px;
}

.main-header__message {
  margin-left: 23px;
}

.main-header__message a,
.main-header__call a {
  text-decoration: none;
  color: var(--text-color-white);
}

.main-header__message a:hover,
.main-header__call a:hover {
  transition: color 0.4s ease;
  color: var(--text-color-link);
  border-color: var(--text-color-white);
}

.main-header__message h2:hover,
.main-header__call h2:hover {
  transition: transform 0.4s ease;
  transform: scale(1.05);
}
